<div class="row">
  <div class="col-lg-12">
    <h2>Users Table</h2>
  </div>

  <div class="col-lg-12 text-center">
    <table class="table table-bordered">
      <tr>
        <th>Edit/Delete</th>
        <th>Sr. No</th>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Number</th>
        <th>Age</th>
        <th>Avatar</th>
      </tr>

      <tr *ngFor="let u of users,let i = index">
        <td>
          <button routerLink="user/{{u.id}}" class="btn btn-outline-primary">Edit</button>
          <button (click)="delete(u.id)" class="btn btn-outline-danger">Delete</button>
        </td>
        <td>Sr No - {{i+1}}</td>
        <td>ID - {{u.id}}</td>
        <td>{{u.name}}</td>
        <td>{{u.email}}</td>
        <td>{{u.number}}</td>
        <td>Age - {{u.age}}</td>
        <td><img src="{{u.avatar}}" class="img-thumbnail" alt=""></td>
      </tr>
    </table>
  </div>

</div>
